Pictures/wallpapers/wallpaper.current
.config/cava/
!.config/cava/config

# symlinks
.config/gtk-4.0/assets
.config/gtk-4.0/gtk-dark.css
.config/gtk-4.0/gtk.css

.config/alacritty/theme.toml
.config/btop/themes/gruvbox.theme
.config/dunst/dunstrc
.config/fuzzel/menu.ini
.config/fuzzel/powermenu.ini
.config/kitty/theme.conf
.config/niri/theme.kdl
.config/waybar/colors.css
.config/wayle/themes/theme.toml
.config/wofi/colors.css
