@define-color background #282828;       /* gruvbox:dark-mode(bg0) */
@define-color foreground #ebdbb2;       /* gruvbox:dark-mode(fg) */
@define-color accent-1 #d65d0e;         /* gruvbox:dark-mode(orange) */
@define-color accent-2 #cc241d;         /* gruvbox:dark-mode(red) */

* {
    all: unset;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    transition: 0.05s ease-in;
}

#waybar {
    font-family: "Iosevka Nerd Font Propo";
    font-weight: bold;
    color: @foreground;
    background-color: @background;
    font-size: 16px;
}

#custom-logo {
    font-size: 20px;
    margin-left: 10px;
}

#custom-logo:hover {
    color: @accent-1;
    transition: 0.1s ease-in;
}

#workspaces button {
    color: @foreground;
    background-color: @background;
    padding: 0 12px;
    font-size: 28px;
}

#workspaces button.active {
    color: @accent-1;
}

#workspaces button.urgent {
    color: @accent-2;
}

#workspaces button:hover {
    color: @accent-1;
    background-color: transparent;
}

#workspaces button.active:hover {
    color: @accent-1;
    background-color: @background;
}

#custom-logo,
#workspaces,
#window,
#privacy,
#tray,
#clock,
#language,
#custom-power {
    padding: 0 10px;
}

#wireplumber.icon:hover,
#wireplumber.value:hover,
#language:hover,
#custom-power:hover {
    color: @accent-1;
    background-color: @background;
}

#wireplumber.icon {
    font-size: 24px;
    min-width: 26px;
}

#wireplumber.value {
    min-width: 34px;
}

#custom-power {
    font-size: 24px;
    margin-right: 10px;
}
