@define-color background #282828;   /* gruvbox:dark-mode(bg0) */
@define-color foreground #ebdbb2;   /* gruvbox:dark-mode(fg) */
@define-color accent #d65d0e;       /* gruvbox:dark-mode(orange) */

* {
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#custom-logo {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
}

#custom-logo:hover {
    color: @accent;
    transition: 0.1s ease-in;
}

#workspaces button {
    color: @foreground;
    background: transparent;
    padding: 0 12px;
}

#workspaces button:hover {
    color: @accent;
    background: transparent;
    transition: 0.1s ease-in;
}

#workspaces button.active:hover {
    color: @accent;
    background: transparent;
    transition: 0.1s ease-in;
}

#window,
#privacy,
#tray,
#clock,
#language,
#custom-power {
    padding: 0 10px;
}

#wireplumber.icon {
    font-size: 22px;
    min-width: 26px;
    margin-right: -2px;
}

#wireplumber.value {
    min-width: 34px;
}

#custom-power {
    padding-right: 20px;
}

#custom-power:hover {
    color: @accent;
    transition: 0.1s ease-in;
    background: transparent;
}
