* {
    font-family: "Iosevka Nerd Font";
    font-size: 18px;
    color: #cfcfcf;
}

window {
    background-color: #242424;
}

#scroll {
    padding: 0.5rem;
}

#input {
    background-color: #242424;
    color: #c0caf5;
    outline: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    padding: 0.5rem;
}

#inner-box {
    margin: 0.5rem;
    font-size: 1rem;
}

#img {
    margin: 10px 10px;
}

#entry {
    border-radius: 0.5rem;
}

#entry:selected {
    background-color: #383838;
    outline: none;
}

#text:selected {
    color: #fff;
}
